@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using OpenIddict.Example.IdP.Persistence.Models
@using OpenIddict.Example.IdP.Server.ViewModels.Account
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}
@*<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input asp-for="RememberMe" />
                            <label asp-for="RememberMe"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">Log in</button>
                    </div>
                </div>
                <p>
                    <a asp-action="Register" asp-route-returnUrl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                </p>
                @*<p>
                    <a asp-action="ForgotPassword">Forgot your password?</a>
                </p>
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                if (loginProviders.Count == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@


<main class="signup-container">
    <h1 class="heading-primary">Log in<span class="span-blue">.</span></h1>
    <p class="text-mute">Enter your credentials to access your account.</p>
    <div class="login-wrapper">
        <a href="#" class="btn btn-google">
            <img src="https://img.icons8.com/fluency/48/000000/google-logo.png" />
            Log In with Google
        </a>
        <div class="line-breaker">
            <span class="line"></span>
            <span>or</span>
            <span class="line"></span>
        </div>
    </div>
    
    <form class="signup-form">
        <label class="inp">
            <input asp-for="Email" type="email" class="input-text" placeholder="&nbsp;">
            <label asp-for="Email" class="label"></label>
            <span asp-validation-for="Email" class="text-danger"></span>
            <span class="input-icon"><i class="fa-solid fa-envelope"></i></span>
        </label>
        <label class="inp">
            <input asp-for="Password" type="password" class="input-text" placeholder="&nbsp;" id="password">
            <label asp-for="Password" class="label"></label>
            <span asp-validation-for="Password" class="text-danger"></span>
            <span class="input-icon"><i class="fa-solid fa-envelope"></i></span>
        </label>
        <button class="btn btn-login">Login</button>
    </form>
    <p class="text-mute"><a asp-action="Register" asp-route-returnUrl="@ViewData["ReturnUrl"]">Register as a new user?</a></p>
</main>
<div class="welcome-container">
    <h1 class="heading-secondary">Welcome to <span class="lg">Planner Buddy!</span></h1>      
</div>